<?xml version="1.0"?>
<config>
    <modules>
        <Jerrylopez_Mediagallery>
            <version>0.1.0</version>
        </Jerrylopez_Mediagallery>
    </modules>
    <global>
        <models>
            <mediagallery>
                <class>Jerrylopez_Mediagallery_Model</class>
                <resourceModel>jerrylopez_mediagallery_resource</resourceModel>
            </mediagallery>
            <mediagallery_resource>
                <class>Jerrylopez_Mediagallery_Model_Resource</class>
            </mediagallery_resource>
        </models>
        <blocks>
            <mediagallery>
                <class>Jerrylopez_Mediagallery_Block</class>
            </mediagallery>
        </blocks>
        <helpers>
            <mediagallery>
                <class>Jerrylopez_Mediagallery_Helper</class>
            </mediagallery>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mediagallery>
                    <file>jerrylopez/mediagallery.xml</file>
                </mediagallery>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Jerrylopez_Mediagallery after="Mage_Adminhtml">Jerrylopez_Mediagallery_Adminhtml</Jerrylopez_Mediagallery>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>