<?xml version="1.0"?>
<config>
    <modules>
        <Jerrylopez_Medialibrary>
            <version>0.1.0</version>
        </Jerrylopez_Medialibrary>
    </modules>
    <global>
        <models>
            <medialibrary>
                <class>Jerrylopez_Medialibrary_Model</class>
                <resourceModel>jerrylopez_medialibrary_resource</resourceModel>
            </medialibrary>
            <medialibrary_resource>
                <class>Jerrylopez_Medialibrary_Model_Resource</class>
            </medialibrary_resource>
        </models>
        <blocks>
            <medialibrary>
                <class>Jerrylopez_Medialibrary_Block</class>
            </medialibrary>
        </blocks>
        <helpers>
            <medialibrary>
                <class>Jerrylopez_Medialibrary_Helper</class>
            </medialibrary>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <medialibrary>
                    <file>jerrylopez/medialibrary.xml</file>
                </medialibrary>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Jerrylopez_Medialibrary after="Mage_Adminhtml">Jerrylopez_Medialibrary_Adminhtml</Jerrylopez_Medialibrary>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
